/*stilo nav bar basico*/
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  /*color barra navbar*/
  .navbar {
    background-color: #000000;
    overflow: hidden;
  }
/*config alineamiento,etc*/
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
/*color letras*/
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }